@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <link href="~/Fonts/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Images/favicon-16x16.ico" type="image/x-icon" />
    <script src='https://www.google.com/recaptcha/api.js'></script>

    @Styles.Render("~/CssB")
    @Scripts.Render("~/ScriptsB")
    @Scripts.Render("~/MyScriptsB")
    @Styles.Render("~/ContentB")









</head>
<body>

    @RenderBody()

</body>
</html>